<meta charset="UTF-8" />
<!-- css coming from a bootstrap cdn -->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css"
/>
<title>EJS Demo</title>
<style>
  body {
    padding-top: 50px;
  }
</style>
